<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<h2>Goal</h2>
<% @user.goals.each do |goal| %>
    <p>
      <strong>Goal:</strong>
      <%= goal.name %><br />
      <strong>Cykl:</strong>
      <%= goal.cycle %><br />
      <strong>Ilość Cykle:</strong>
      <%= goal.cycles %><br />
      <strong>Start:</strong>
      <%= goal.start %><br />
      <%= link_to 'Show', [goal] %>
      <%= link_to 'Delete', [goal], method: :delete %>
      <%= link_to 'Edit', edit_goal_path(goal)%>
    </p>

<% end %>

<h2>Add Goal:</h2>
<%= form_for([@goal, @user.goals.build]) do |f| %>
    <p>
      <%= f.label :name %><br />
      <%= f.text_field :name %>
    </p>
    <p>
      <%= f.label "Start" %> <br />
      <%= f.check_box :start %> <br />
    </p>
    <p>
      <%= f.label "Cycle" %> <br />
      <%= f.select :cycle, (1..4) %>
    </p>
    <p>
      <%= f.label :cycles %><br />
      <%= f.text_field :cycles %>
    </p>
    <p>
      <%= f.submit %>
    </p>
<% end %>
<%= link_to 'Back', users_path %>
